

body {
    background-color: beige;
    padding-top: 50px;
}

a.link, a.link:hover, a.link:visited, a.link:active {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8rem;
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
}


ul.menu{
    list-style: none;
    margin: 0;
    padding: 0;
}


ul.menu li {
    display: inline-block;
    margin-left: 20px;
}

ul.menu li:first-child {
    margin-left: 0;
}

a.link.active, a.link:hover {
    font-weight: 400;
    border-bottom: 2px solid rgb(52, 137, 216);    
}

a.link:hover {
    cursor: pointer;   
}

p.mensajeError {
    color: green;
    display: none;
}


p.mensajeError.visible {
    display: inline-block;
    color: red;
    
}